<h1><%= @citation.title %></h1>

<dl>
  <li><%= %></li>
</dl>

<dl>
  <dt>Authors</dt>
  <dd><%= @citation.authors %></dd>
  <dt>Published Year</dt>
  <dd><%= @citation.published_year %></dd>
  <dt>Pages</dt>
  <dd><%= @citation.pages %></dd>
  <dt>Journal</dt>
  <dd><%= @citation.journal %></dd>
</dl>

<p><%= @citation.abstract.content %></p>

<% if @citation.reviews.any? %>
<table>
  <thead>
    <th>User</th>
    <th>Relevant</th>
    <th>Reviewed On</th>
  </thead>
  <tbody>
    <%= render partial: 'reviews/review', collection: @citation.reviews %>
  </tbody>
</table>
<% end %>

<% unless @citation.reviewed?(current_user) %>
  <%= form_for @citation, :url => { action: 'review' } do |f| %>
    <%= f.submit 'Relevant' %>
    <%= f.submit 'Not relevant' %>
  <% end %>
<% end %>