<!DOCTYPE html>
<html>
  <head>
    <title>SystemicReview</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <% unless current_user.nil? %>
        <%= button_to 'logout', controller: 'sessions', action: 'destroy' %>
      <% end %>
    </div>

    <%= yield %>
  </body>
</html>
